.cabecalho {
    background: var(--bg-header);
}

.cabecalho__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padd-header);
    font-size: var(--font-sz-header);
}

.nav__link {
    text-decoration: none;
    color: black;
}

.nav__responsivo {
    display: flex;
    flex-flow: column;
    height: var(--font-sz-header);
}

.nav__burger {
    background: none;
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.nav__burger input:checked ~ span {
    background: red;
}

.burger {
    height: 5px;
    width: 30px;
    background: #000;
    border-radius: 12.5px;
    margin: 2.5px 0;
}

.nav__lista {
    position: absolute;
    right: 0;
    top: calc(var(--font-sz-header) + (var(--padd-header)*2));
    height: calc(100vh - (var(--font-sz-header) + (var(--padd-header)*2))); 
    background: var(--nav-header);
    padding: 0 1rem;
}

.nav__item{
    padding: 1rem;
}