.cabecalho {
    background: var(--bg-header);
}

.cabecalho__nav {
    align-items: center;
    display: flex;
    font-size: var(--font-sz-header);
    justify-content: space-between;
    padding: var(--padd-header);
}

.nav__link {
    color: black;
    text-decoration: none;
}

.nav__responsivo {
    display: flex;
    flex-flow: column;
    height: var(--font-sz-header);
}

.nav__burger {
    background: none;
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.nav__burger input:checked ~ span {
    background: #9b9b9b;
    box-shadow: #818181 2px 2px 1px;
}

.burger {
    background: #000;
    border-radius: 12.5px;
    height: 5px;
    margin: 2.5px 0;
    width: 30px;
}

.nav__lista {
    background: var(--nav-header);
    height: calc(100vh - (var(--font-sz-header) + (var(--padd-header)*2))); 
    padding: 0 1rem;
    position: absolute;
    right: 0;
    top: calc(var(--font-sz-header) + (var(--padd-header)*2));
}

.nav__item{
    padding: 1rem;
}